:root,
[data-theme='light'] {
  --vlm-color-primary: oklch(76.86% 0.1647 70.0804deg);
  --vlm-color-primary-hover: oklch(66.58% 0.1574 58.3183deg);
  --vlm-color-primary-foreground: oklch(20% 0 0deg);
  --vlm-color-primary-text: oklch(66.58% 0.1574 58.3183deg);

  --vlm-color-primary-1: oklch(76.86% 0.1647 70.0804deg);
  --vlm-color-primary-2: oklch(66.58% 0.1574 58.3183deg);
  --vlm-color-primary-3: oklch(55.53% 0.1455 48.9975deg);
  --vlm-color-primary-4: oklch(47.32% 0.1247 46.2007deg);
  --vlm-color-primary-5: oklch(41.37% 0.1054 45.9038deg);

  --vlm-color-secondary: oklch(96.7% 0.0029 264.5419deg);
  --vlm-color-secondary-hover: oklch(92.76% 0.0058 264.5313deg);
  --vlm-color-secondary-foreground: oklch(26.86% 0 0deg);
  --vlm-color-secondary-text: oklch(55.1% 0.0234 264.3637deg);

  --vlm-color-error: oklch(63.68% 0.2078 25.3313deg);
  --vlm-color-error-hover: oklch(56% 0.2078 25.3313deg);
  --vlm-color-error-foreground: oklch(100% 0 0deg);
  --vlm-color-error-text: oklch(56% 0.2078 25.3313deg);

  --vlm-color-warning: oklch(63.68% 0.2078 25.3313deg);
  --vlm-color-warning-hover: oklch(56% 0.2078 25.3313deg);
  --vlm-color-warning-foreground: oklch(100% 0 0deg);
  --vlm-color-warning-text: oklch(56% 0.2078 25.3313deg);

  --vlm-color-success: oklch(60% 0.17 145deg);
  --vlm-color-success-hover: oklch(52% 0.17 148deg);
  --vlm-color-success-foreground: oklch(100% 0 0deg);
  --vlm-color-success-text: oklch(52% 0.17 148deg);

  --vlm-color-info: oklch(62% 0.16 235deg);
  --vlm-color-info-hover: oklch(54% 0.16 235deg);
  --vlm-color-info-foreground: oklch(100% 0 0deg);
  --vlm-color-info-text: oklch(54% 0.16 235deg);

  --vlm-color-bg: oklch(100% 0 0deg);
  --vlm-color-bg-surface: oklch(98.46% 0.0017 247.8389deg);
  --vlm-color-bg-surface-hover: oklch(98.69% 0.0214 95.2774deg);

  --vlm-color-text: oklch(26.86% 0 0deg);
  --vlm-color-text-muted: oklch(55.1% 0.0234 264.3637deg);

  --vlm-color-border: oklch(92.76% 0.0058 264.5313deg);

  --vlm-color-outline: oklch(26.86% 0 0deg);
  --vlm-color-outline-border: oklch(92.76% 0.0058 264.5313deg);
}
