:root,
[data-theme='light'] {
  --vlm-color-primary: oklch(0.7686 0.1647 70.0804);
  --vlm-color-primary-hover: oklch(0.6658 0.1574 58.3183);
  --vlm-color-primary-foreground: oklch(0.2 0 0);
  --vlm-color-primary-text: oklch(0.6658 0.1574 58.3183);

  --vlm-color-primary-1: oklch(0.7686 0.1647 70.0804);
  --vlm-color-primary-2: oklch(0.6658 0.1574 58.3183);
  --vlm-color-primary-3: oklch(0.5553 0.1455 48.9975);
  --vlm-color-primary-4: oklch(0.4732 0.1247 46.2007);
  --vlm-color-primary-5: oklch(0.4137 0.1054 45.9038);

  --vlm-color-secondary: oklch(0.967 0.0029 264.5419);
  --vlm-color-secondary-hover: oklch(0.9276 0.0058 264.5313);
  --vlm-color-secondary-foreground: oklch(0.2686 0 0);
  --vlm-color-secondary-text: oklch(0.551 0.0234 264.3637);

  --vlm-color-error: oklch(0.6368 0.2078 25.3313);
  --vlm-color-error-hover: oklch(0.56 0.2078 25.3313);
  --vlm-color-error-foreground: oklch(1 0 0);
  --vlm-color-error-text: oklch(0.56 0.2078 25.3313);

  --vlm-color-warning: oklch(0.65 0.19 45);
  --vlm-color-warning-hover: oklch(0.58 0.19 42);
  --vlm-color-warning-foreground: oklch(1 0 0);
  --vlm-color-warning-text: oklch(0.58 0.19 42);

  --vlm-color-success: oklch(0.6 0.17 145);
  --vlm-color-success-hover: oklch(0.52 0.17 148);
  --vlm-color-success-foreground: oklch(1 0 0);
  --vlm-color-success-text: oklch(0.52 0.17 148);

  --vlm-color-info: oklch(0.62 0.16 235);
  --vlm-color-info-hover: oklch(0.54 0.16 235);
  --vlm-color-info-foreground: oklch(1 0 0);
  --vlm-color-info-text: oklch(0.54 0.16 235);

  --vlm-color-bg: oklch(1 0 0);
  --vlm-color-bg-surface: oklch(0.9846 0.0017 247.8389);
  --vlm-color-bg-surface-hover: oklch(0.9869 0.0214 95.2774);

  --vlm-color-text: oklch(0.2686 0 0);
  --vlm-color-text-muted: oklch(0.551 0.0234 264.3637);

  --vlm-color-border: oklch(0.9276 0.0058 264.5313);

  --vlm-color-outline: oklch(0.2686 0 0);
  --vlm-color-outline-border: oklch(0.9276 0.0058 264.5313);
}
