[data-theme='dark'] {
  --vlm-color-primary: oklch(76.86% 0.1647 70.0804deg);
  --vlm-color-primary-hover: oklch(83.69% 0.1644 84.4286deg);
  --vlm-color-primary-foreground: oklch(20% 0 0deg);
  --vlm-color-primary-text: oklch(83.69% 0.1644 84.4286deg);

  --vlm-color-primary-1: oklch(83.69% 0.1644 84.4286deg);
  --vlm-color-primary-2: oklch(66.58% 0.1574 58.3183deg);
  --vlm-color-primary-3: oklch(47.32% 0.1247 46.2007deg);
  --vlm-color-primary-4: oklch(55.53% 0.1455 48.9975deg);
  --vlm-color-primary-5: oklch(47.32% 0.1247 46.2007deg);

  --vlm-color-secondary: oklch(26.86% 0 0deg);
  --vlm-color-secondary-hover: oklch(37.15% 0 0deg);
  --vlm-color-secondary-foreground: oklch(100% 0 0deg);
  --vlm-color-secondary-text: oklch(71.55% 0 0deg);

  --vlm-color-error: oklch(63.68% 0.2078 25.3313deg);
  --vlm-color-error-hover: oklch(70% 0.2078 25.3313deg);
  --vlm-color-error-foreground: oklch(100% 0 0deg);
  --vlm-color-error-text: oklch(70% 0.2078 25.3313deg);

  --vlm-color-warning: oklch(63.68% 0.2078 25.3313deg);
  --vlm-color-warning-hover: oklch(70% 0.2078 25.3313deg);
  --vlm-color-warning-foreground: oklch(100% 0 0deg);
  --vlm-color-warning-text: oklch(70% 0.2078 25.3313deg);

  --vlm-color-success: oklch(72% 0.17 145deg);
  --vlm-color-success-hover: oklch(80% 0.16 150deg);
  --vlm-color-success-foreground: oklch(100% 0 0deg);
  --vlm-color-success-text: oklch(80% 0.16 150deg);

  --vlm-color-info: oklch(72% 0.15 235deg);
  --vlm-color-info-hover: oklch(80% 0.14 235deg);
  --vlm-color-info-foreground: oklch(100% 0 0deg);
  --vlm-color-info-text: oklch(80% 0.14 235deg);

  --vlm-color-bg: oklch(20.46% 0 0deg);
  --vlm-color-bg-surface: oklch(26.86% 0 0deg);
  --vlm-color-bg-surface-hover: oklch(37.15% 0 0deg);

  --vlm-color-text: oklch(92.19% 0 0deg);
  --vlm-color-text-muted: oklch(71.55% 0 0deg);

  --vlm-color-border: oklch(37.15% 0 0deg);

  --vlm-color-outline: oklch(92.19% 0 0deg);
  --vlm-color-outline-border: oklch(37.15% 0 0deg);
}
